//Primary colors
$light-red: rgb(255, 87, 87);
$orangey-yellow: rgb(255, 176, 31);
$green-teal: rgb(0, 189, 145);
$cobalt-blue: rgb(17, 37, 212);

$light-red-bg: rgba(255, 87, 87, 0.06);
$orangey-yellow-bg: rgba(255, 176, 31, 0.06);
$green-teal-bg: rgba(0, 189, 145, 0.06);
$cobalt-blue-bg: rgba(17, 37, 212, 0.06);
$btn-focus-color: rgba(48, 59, 90, 0.8);

//Gradients
//background
$light-slate-blue: rgb(120, 87, 255);
$light-royal-blue: rgb(46, 43, 233);
//circle
$violet-blue: rgba(78, 33, 202, 1);
$persian-blue: rgba(36, 33, 202, 0);

//Neutral
$white: rgb(255, 255, 255);
$pale-blue: rgb(235, 241, 255);
$light-lavender: rgb(200, 199, 255);
$dark-gray-blue: rgba(48, 59, 90, 1);
