//Primary colors
$light-red: #ff5757;
$orangey-yellow: #ffb01f;
$green-teal: #00bd91;
$cobalt-blue: #1125d4;

$light-red-bg: #ff57570f;
$orangey-yellow-bg: #ffb01f0f;
$green-teal-bg: #00bd910f;
$cobalt-blue-bg: #1125d40f;
$btn-focus-color: #303b5acc;

//Gradients
//background
$light-slate-blue: #7755ff;
$light-royal-blue: #2f2ce9;
//circle
$violet-blue: #4d21c9;
$persian-blue: #2521c900;

//Neutral
$white: #ffffff;
$pale-blue: #ecf2ff;
$light-lavender: #c8c7ff;
$dark-gray-blue: #303b5a;

$app-shadow: #3d6cec26;
