@use './colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	font-family: 'Hanken Grotesk', sans-serif;
	font-size: 1.6rem;
	background-color: $pale-blue;
}

.app {
	background-color: $white;
	margin: 0 auto;
	min-width: 375px;
	max-width: 450px;
	width: 100%;

	&__result {
		display: grid;
		place-items: center;
		padding: 1.5em 03em;
		min-height: 356px;
		background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
		border-radius: 0 0 3.2rem 3.2rem;
		text-align: center;

		&-title {
			font-size: 1.8rem;
			font-weight: 700;
			color: $light-lavender;
		}

		&-score {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 140px;
			height: 140px;
			border-radius: 50%;
			background: linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
		}

		&-max {
			font-size: 5.6rem;
			line-height: 72px;
			font-weight: 800;
			color: $white;
		}

		&-out-of {
			font-size: 1.6rem;
			color: $light-lavender;
			font-weight: 700;
			opacity: 0.5;
		}

		&-rating {
			font-size: 2.4rem;
			font-weight: 700;
			color: $pale-blue;
		}

		&-statistics {
			max-width: 260px;
			font-size: 1.6rem;
			font-weight: 500;
			color: $light-lavender;
		}
	}

	&__summary {
		padding: 1.5em 1.9em;

		&-title {
			padding: 0.1em;
			font-size: 1.8rem;
			font-weight: 700;
			color: $dark-gray-blue;
		}

		&-list {
			margin: 1.5em 0;
			display: flex;
			flex-direction: column;
			gap: 1em;
			list-style: none;

			&-item {
				position: relative;
				display: flex;
				align-items: center;
				padding: 1.1em 1em;
				border-radius: 12px;
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.02);
				}

				&--reaction {
					color: $light-red;
					background-color: $light-red-bg;
				}

				&--memory {
					color: $orangey-yellow;
					background-color: $orangey-yellow-bg;
				}

				&--verbal {
					color: $green-teal;
					background-color: $green-teal-bg;
				}

				&--visual {
					color: $cobalt-blue;
					background-color: $cobalt-blue-bg;
				}

				img {
					margin-right: 1.2rem;
				}

				p {
					position: absolute;
					right: 1em;
					color: $light-lavender;

					span {
						color: $dark-gray-blue;
					}
				}
			}
		}

		&-btn {
			padding: 1em;
			width: 100%;
			font-size: 1.8rem;
			font-weight: 700;
			color: $white;
			background-color: $dark-gray-blue;
			border: 2px solid transparent;
			border-radius: 2em;
			cursor: pointer;
			transition: background-color 0.3s;

			&:focus {
				outline: none;
				border: 2px solid $light-red;
				box-shadow: 0 2px 5px $light-red;
			}

			&:hover {
				background-color: $light-royal-blue;
			}
		}
	}
}

@media (min-width: 992px) {
	body {
		align-items: center;
	}

	.app {
		display: flex;
		min-height: 512px;
		min-width: 736px;
		max-width: 1000px;
		border-radius: 3.2rem;
		box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);

		&__result {
			min-width: 50%;
			border-radius: 3.2rem;

			&-title {
				font-size: 2.4rem;
			}

			&-score {
				width: 200px;
				height: 200px;
			}

			&-max {
				font-size: 7.2rem;
			}

			&-out-of {
				font-size: 1.8rem;
			}

			&-rating {
				font-size: 3.2rem;
			}

			&-statistics {
				font-size: 1.8rem;
			}
		}

		&__summary {
			width: 50%;
			padding: 2.5em 2.5em 2.8em;

			&-title {
				font-size: 2.4rem;
			}

			&-list {
				&-item {
					font-size: 1.8rem;

					p {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
