@use './colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Hanken Grotesk', sans-serif;
	font-size: 1.6rem;
	background-color: rgba(0, 0, 0, 0.05);
}

.app {
	padding-bottom: 3em;
	min-height: 100vh;

	.wrapper {
		margin: 0 auto;
		max-width: 450px;
		width: 100%;
	}

	&__result {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		padding: 2em 2em 3.5em;
		max-height: 50%;
		background-image: linear-gradient($light-slate-blue 25%, $light-royal-blue);
		border-radius: 0 0 2.5em 2.5em;
		z-index: 5;

		&-title {
			margin-bottom: 1em;
			font-size: 2rem;
			color: $light-lavender;
			text-align: center;
		}

		&-score {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 120px;
			height: 120px;
			background-image: linear-gradient(to bottom, $violet-blue, $persian-blue);
			border-radius: 50%;
			text-align: center;
		}

		&-max {
			color: $white;
			font-size: 5rem;
			font-weight: bold;
		}

		&-out-of {
			color: $light-lavender;
			font-size: 1.6rem;
		}

		&-rating {
			margin: 0.8em 0 0.3em;
			color: $pale-blue;
			font-size: 2.4rem;
			font-weight: 600;
		}

		&-statistics {
			padding: 0 1.8em;
			color: $light-lavender;
			font-size: 1.6rem;
			text-align: center;
		}
	}

	&__summary {
		position: relative;
		padding: 2em 2em 3.5em;
		border-radius: 0 0 2.5em 2.5em;
		background-color: $white;
		z-index: 2;

		&::before {
			content: '';
			position: absolute;
			top: -2.5em;
			left: 0;
			right: 0;
			height: 3em;
			background-color: $white;
			z-index: 1;
		}

		&-title {
			margin-bottom: 1.2em;
			font-size: 2rem;
			color: $dark-gray-blue;
		}

		&-list {
			list-style: none;

			&-item {
				display: flex;
				align-items: center;
				position: relative;
				margin: 1em 0;
				padding: 1em;
				font-size: 1.8rem;
				font-weight: 600;
				border-radius: 1rem;
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.02);
				}

				&--reaction {
					color: $light-red;
					background-color: $light-red-bg;
				}

				&--memory {
					color: $orangey-yellow;
					background-color: $orangey-yellow-bg;
				}

				&--verbal {
					color: $green-teal;
					background-color: $green-teal-bg;
				}

				&--visual {
					color: $cobalt-blue;
					background-color: $cobalt-blue-bg;
				}

				img {
					margin-right: 0.8em;
				}

				p {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					padding: 1em;
					color: rgb(145, 138, 145);

					span {
						font-weight: bold;
						color: $dark-gray-blue;
					}
				}
			}
		}

		&-btn {
			margin-top: 0.5em;
			padding: 1.2em;
			width: 100%;
			font-size: 2rem;
			color: $white;
			font-weight: 600;
			background-color: $dark-gray-blue;
			border: 2px solid transparent;
			box-shadow: 0 2px 5px $dark-gray-blue;
			border-radius: 3rem;
			cursor: pointer;
			transition: background-color 0.3s;

			&:focus {
				outline: none;
				border: 2px solid $light-red;
				box-shadow: 0 2px 5px $light-red;
			}

			&:hover {
				background-color: $light-royal-blue;
			}
		}
	}
}

.attribution {
	background-color: #d8d8d8;
	padding: 2em;
	line-height: 1.9em;
	font-size: 1.6rem;
	text-align: center;
}

.attribution a {
	position: relative;
	padding: 0.2em 0.2em;
	color: hsl(228, 45%, 44%);
	border-bottom: 2px solid hsl(228, 45%, 44%);
	text-decoration: none;
	overflow: hidden;
	z-index: 1;
	transition: color 0.3s;

	&:hover {
		color: #fff;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0;
		width: 100%;
		background-color: hsl(228, 45%, 44%);
		z-index: -1;
		transition: height 0.3s;
	}

	&:hover::after {
		height: 100%;
	}
}

@media (min-width: 1200px) {
	.app {
		padding: 0;
		display: flex;
		align-items: center;
		.wrapper {
			display: flex;
			justify-content: center;
			max-width: 1200px;
		}

		&__result {
			width: 32%;
			border-radius: 2.5em;

			&-title {
				margin-bottom: 1.5em;
				font-size: 2.2rem;
			}

			&-score {
				margin-bottom: 2em;
				width: 200px;
				height: 200px;
			}

			&-max {
				font-size: 6rem;
			}

			&-out-of {
				font-size: 1.8rem;
			}

			&-rating {
				font-size: 2.8rem;
			}

			&-statistics {
				font-size: 1.8rem;
			}
		}

		&__summary {
			min-width: 32%;
			border-radius: 0 2.5em 2.5em 0;

			&::before {
				top: 0;
				left: -2.5em;
				right: 99%;
				height: 100%;
			}

			&-title {
				font-size: 2.2rem;
			}

			&-btn {
				margin-top: 1em;
			}
		}
	}
}
